.*
design/tzcorr_2015
design/airports.csv
design/airports_2024.csv
design/airports_2024.csv.gz
design/format_airports_modular.py
design/format_airports_pandas.py
design/scrap_t_master_cord_modular.py
design/scrap_t_master_cord_notebook.ipynb
design/scrap_t_master_cord.py
design/T_MASTER_CORD.csv
design/T_MASTER_CORD.zip
transform/files
