.*
design/tzcorr
design/airports.csv
design/airports_2024.csv
design/airports_2024.csv.gz
design/format_airports_modular.py
design/format_airports_pandas.py
design/scrap_t_master_cord_modular.py
design/scrap_t_master_cord_notebook.ipynb
design/scrap_t_master_cord.py
design/T_MASTER_CORD.csv
design/T_MASTER_CORD.zip
transform/airports*
transform/df01_*
transform/df02_*
transform/df03_*
transform/df04_*
transform/df05_*
transform/df06_*
transform/df07_*
transform/flights*
transform/TEST.ipynb

